@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 560px){
    .card{
        display: grid;
        align-items: stretch;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }
    .product-content{
        padding-top: 0;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color-yellow: #fff200;
    --color-balck: rgb(0,0,0);
    --color-white: white;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.container-var{
    max-width: 1500px;
    margin: auto;
}
header{
    background-color: rgb(192,238,195);
    text-align: center;
    /* height: 44px; */
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ------------------------------------------------nav----------------------------------- */
nav{
    background-color: var(--color-balck);
    /* background-color: red; */
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li, a{
    color: var(--color-white);
    font-size: 12px;
}
nav ul li:nth-child(2) a{
    color: var(--color-yellow);
}
nav ul li:nth-child(2) i{
    color: var(--color-yellow);
    font-size: 15px;
    margin-left: 6px;
}
nav ul li:nth-child(3){
    position: relative;
}
nav ul li:nth-child(3) input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}
nav ul li:nth-child(3) i{
    position: absolute;
    font-size: 20px;
    right: 12px;
    color: var(--color-balck);
    line-height: 30px;
    cursor: pointer;
}
nav ul li:nth-child(4) button{
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid rgb(237, 218, 218);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li:nth-child(4) button i{
    margin-right:  6px;
}
nav ul li:nth-child(4) button:hover{
    background-color: rgb(129, 123, 123);
}
nav ul li:nth-child(5){
    text-align: center;
}
nav ul li:nth-child(5)  i{
    margin-right:  6px;
}
nav ul li:nth-child(5):hover a{
    color: var(--color-yellow);
}
nav ul li:nth-child(6) a {
    color: var(--color-yellow);
}
.btn-content{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--color-yellow);
    display: block;
    float: left;
    margin-right: 8px;
}
.btn-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--color-yellow);
    display: block;
    pointer-events: none;
    animation: btnani 2s linear infinite;
    display: block;
}
@keyframes btnani {
    from{
        opacity: 0.4;
    }
    to{
        transform: scale(3);
        opacity: 0;
    }
}
nav ul li:nth-child(7):hover a {
    color: var(--color-yellow);
}
nav ul li:nth-child(8):hover a {
    color: var(--color-yellow);
}
nav ul li:nth-child(9) button{
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid rgb(237, 218, 218);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li:nth-child(9) button i{
    margin-right:  6px;
}
nav ul li:nth-child(9) button:hover{
    background-color: rgb(129, 123, 123);
}
.adress-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.8);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.adress-form-content{
    width: 450px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
}
.adress-form-content form{
    padding: 12px 40px;
}
.adress-form-content h2{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 3px solid #ddd;
    position: relative;
}
.adress-form-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.adress-form-content h2 span:hover{
    color: red;
}
.adress-form-content form p{
    font-size: 16px;
}
.adress-form-content form input,select{
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.adress-form-content form button{
    margin-top: 20px;
    height: 30px;
    width: 80%;
    height: 40px;
    cursor: pointer;
    background-color: #F97E0E;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.adress-form-content form button:hover{
    background-color: rgba(249, 126, 14, 0.6);
}

/*=================================line==============================*/
.vertical-line {
    position: relative;
    width: 2px; /* Độ rộng của đường thẳng */
    height: 600px; /* Chiều cao của đường thẳng */
}

.vertical-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 550px; /* Độ dịch chuyển đường thẳng từ trái sang phải */
    transform: translateX(-50%);
    border-left: 5px solid #000; /* Màu và độ rộng của đường thẳng */
    height: 100%;
}
.product-detail td {
     padding-right: 10px; /* Để tạo khoảng cách giữa các cột */
}

.product-detail td.label {
    font-weight: bold;
}
.product-detail td {
    padding-right: 10px; /* Để tạo khoảng cách giữa các cột */
}

.product-detail td.label {
    font-weight: bold;
}
.container {
    display: flex;
    align-items: center;
}

.breadcrumb-item {
    list-style: none;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #000; /* Màu chữ mặc định */
    display: flex;
    align-items: center;
    font-size: 1em; /* Font size gấp đôi */
}

.breadcrumb-item a:hover {
    color: #007bff; /* Màu chữ khi di chuột qua */
}
